EMAIL_SENDER=<Cuenta de Google para envio de mails>
GOOGLE_CLIENT_ID=<Google client ID para envio de mails (...apps.googleusercontent.com)>
GOOGLE_CLIENT_SECRET=<Google client Secret para envio de mails (GOCSPX-Z31ok...)>
GOOGLE_REFRESH_TOKEN=<Google refresh token generado a través de la pagina admin/vendor/PHPMailer/get_oauth_token.php>